    /* nav*/
$colorUno:#271d2d;
$colorDos:#ffffff;
$colorTres:#cccfd2;
$colorCuatro:#000000;

@mixin floatLeft{
    float: left;
    width: 100%;
}

@mixin transform($transform, $tiempo, $ease, $scale, $position){
    position: $position;
    -webkit-transition: $transform $tiempo $ease;
    -moz-transition: $transform $tiempo $ease;
    -o-transition: $transform $tiempo $ease;
    -ms-transition: $transform $tiempo $ease;
    transition: $transform $tiempo $ease;
    transform: scale($scale);
    cursor: pointer;
}

.logo{
    text-align: center;
}
.ver, .filtro{
    display: none;
}

.icono{
    color: $colorDos;
    font-size: 20px;
}
nav{
    -webkit-box-shadow: -2px 5px 13px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 5px 13px -5px rgba(0,0,0,0.75);
    box-shadow: -2px 5px 13px -5px rgba(0,0,0,0.75);
    background-color: $colorUno;
}

.navbar-dark{
    & .menu li{
        padding: 0 20px;
    }
    & .navbar-nav{

        & .nav-link{
            color: $colorDos;
            &:hover, &:focus{
                color: $colorDos;
            }

        }
    }
    & .navbar-toggler{
        color: $colorDos;
        border: none;
    }
}
a{
    color: $colorDos;
    &:hover{
        text-decoration: none;
    }
    &:focus, &:active{
        font-weight: bolder;
    }

}

/*Columna izquierda*/
.columnas {
    font-size: 14px;
    margin-top: 100px;
    & a:hover{
        font-weight: bolder;
    }
    &  ul{
        @include floatLeft;
        list-style: none;
        padding-left:13px;
    }
    & a{
        color: $colorCuatro;
    }
}
.zapatillas{
    @include floatLeft;
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid;
    font-weight: bold;
    font-size: 20px;

}
.tipo{
    @include floatLeft;
    background-color: $colorTres;
    padding: 5px 10px;
    font-weight: bold;
}
.filtrar{
    @include floatLeft;
    font-weight: bold;
    margin: 10px;
}

·columna_1{
    display: block;
}
#fa-slider{
    float: right;
    display: none;
}
/* grilla */
.grilla{
    font-size: 14px;
}
.modelo{
    margin: 5px 0;
}
.precio{
    margin-bottom: 10px;
    font-weight: bolder;
}

.img-fluid{
    @include transform(transform, 0.5s, ease, 1,relative);
    &:hover{
        @include transform(transform, 0.5s, ease-in-out, 1.1,relative);
    }
}
.container_imagen{
    overflow: hidden;
    border-bottom: 1px solid $colorUno;
}
footer{
    font-size: 14px;
    background-color: $colorUno;
    color: $colorDos;
    text-align: center;
    & ul{
        list-style: none;
        margin: 0;
        & li{
            display: inline-block;
            margin: 0 20px;
            padding: 20px;
        }
    }
    & a:hover{
        color: $colorDos;
    }
}
@media (max-width: 576px) {
    .ocultar, #columna_1{
        display: none;
    }
    .ver, #fa-slider{
        display: block;
    }
    .navbar{
        padding: 15px 15px 15px 0;
    }
    footer{
        & ul{
            margin: 0;
            padding: 20px 0;
            text-align: center;
            & li{
                width: 100%;
                padding: 5px 0;
                margin: 0;
                display: block;
            }
        }
    }
}
/*170*/